.header {
    background-color: #E6F1FF;
}

.logo {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    margin-top: 10px;
}

.title {
    font-size: 20px;
    background-color: #E6F1FF;
    color: #7DA9DF;
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
    margin-left: 10px;
    border: none;
}

.title::placeholder {
    color: #7DA9DF;
    font-style: italic;
}

.menubar {
    display: flex;
    gap: 80px;
    font-family: 'Outfit', sans-serif;
    padding: 8px 16px;
    margin-left: 40px;
    margin-bottom: 20px;
    color: #5489c9;
}

.menubar div {
    cursor: pointer;
}

.dropdown {
    margin-top: 10px;
    position: absolute;
    background-color: #7DA9DF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: white;
    padding: 10px;
    z-index: 1000;
    margin-left: -20px;
}

.dropdown div {
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.dropdown div:hover {
    background-color: #5489c9;
    text-decoration: none;
}

.word {
    margin-top: 30px;
    width: 794px;
    box-shadow: 0 0 10px #abc3e4;
}
